.header-1 {
    background-color: #ffffff;
    height: 60px;
    position: relative;
    margin: 0px;
}
.tela-login {
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    border-color: #f8f6f6;
    border-width: 1px;
    border-style: solid;
    padding: 236px -196px;
    margin-top: 90px;
    margin-left: 450px;
    box-shadow: 4px 4px 4px rgb(156, 154, 154);
}
.bemvindo {
    margin-top: 20px;
    margin-left: 140px;
}
.usuario01 {
    background-color: #dcdcdc;
    margin-top: 20px;
    margin-left: 50px;
    width: 290px;
    height: 45px;
}
.senha01 {
    background-color: #dcdcdc;
    margin-top: 60px;
    margin-left: 50px;
    width: 290px;
    height: 45px;
}
.botao01 {
    background-color: #f11818;
    margin-top: 60px;
    margin-left: 50px;
    width: 298px;
    height: 45px;
    border-radius: 10px;
}
.semconta {
    margin-top: 120px;
    margin-left: 80px;
    font-family: 'Roboto';
    color: #6F6F6F;
}

.header-2 {
    background-color: #ffffff;
    height: 60px;
    position: relative;
    margin: 0px;
}
.registrar {
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    border-color: #f8f6f6;
    border-width: 1px;
    border-style: solid;
    padding: 236px -196px;
    margin-top: 90px;
    margin-left: 450px;
    box-shadow: 4px 4px 4px rgb(156, 154, 154);
}
.registrar-se {
    margin-top: 20px;
    margin-left: 140px;
}
.usuario02 {
    background-color: #dcdcdc;
    margin-top: 20px;
    margin-left: 50px;
    width: 290px;
    height: 45px;
}
.senha002 {
    background-color: #dcdcdc;
    margin-top: 50px;
    margin-left: 50px;
    width: 290px;
    height: 45px;
}
.conf {
    background-color: #dcdcdc;
    margin-top: 20px;
    margin-left: 50px;
    width: 290px;
    height: 45px;
}
.botao02 {
    background-color: #f11818;
    margin-top: 30px;
    margin-left: 50px;
    width: 298px;
    height: 45px;
    border-radius: 10px;
}
input {
    border-radius: 0;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
