<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Início</title>
  </head>
  <body>
    <header>
      <div id="title">
        <h1 class="dif-h1">AtlasTec</h1>
      </div>

      <ul>
        <a href="PagPrinc.html"><li>Início</li></a>
        <a href="Sobre.html"><li>Sobre nós</li></a>
        <a href="Contato.html"><li>Contato</li></a>
        <a href="http://localhost:3000/empresa" id="entre-btn"><li>Entrar na Empresa</li></a>
        <a href="http://localhost:3000/cadastrarempresa" id="inscreva-se-btn"><li>Criar Empresa</li></a>
      </ul>
    </header>

    <section class="features" id="features">
      <h1 class="heading">
        Somos um conjunto de ferramentas que irão<br />
        lhe proporciona um melhor desempenho<br />
        nas suas vendas online!
      </h1>

      <div class="marketing1">
        <div class="box-marketing">
          <img src="/img/Email.png" alt="" />
          <h3>Email Marketing</h3>
          <a href="http://127.0.0.1:5500/views/emailmarketing.html" class="btn-mark">Saiba Mais</a>
        </div>

        <div class="box-marketing">
          <img src="/img/transferir.png" alt="cads"/>
          <h3>Cadastrar Cliente</h3>
          <a href="http://127.0.0.1:5500/views/cadastrarEmpresa.html" class="btn-mark">Saiba Mais</a>
        </div>
      </div>
    </section>
  </body>
</html>
