<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Conta</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h1>Editar Usu치rio</h1>
    </div>
    <div id="id">
        <label for="id">ID do Usu치rio: </label>
        <input type="text" id=id placeholder="Digite o ID do usu치rio...">
    </div>
    <br>
    <div>
        <button id="btContinuarEdicao">Pr칩ximo</button>
    </div>
    
</body>
</html>