<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" />
    <title>Email Marketing</title>
</head>
<body>
    <header>
            <div id="title">
            <h1 class="dif-h1">AtlasTec</h1>
            </div>
            <ul>
                <a href="http://localhost:3000/"><li>Início</li></a>
                <a href="http://localhost:3000/sobre"><li>Sobre nós</li></a>
                <a href="http://localhost:3000/contato"><li>Contato</li></a>
                <a href="http://localhost:3000/login" id="entre-btn"><li>Entre</li></a>
                <a href="http://localhost:3000/register" id="inscreva-se-btn"><li>Inscreva-se</li></a>
             </ul>
                  </header>    
                  
    <header>
        <main>
            <div class="emailmarketing">
                <div class="escolhaemail">
                    <h4>Selecione como vai querer que o email seja enviado:</h4>
                    <select class="selecionar" name="selecione" id="selecionaropcao">
                        <option value="escolha">Escolha uma opção</option>
                        <option value="unicaPessoa">Enviar para um cliente especific</option>
                        <option value="variaPessoas">Enviar para varios clientes</option>
                    </select>
                </div>
                <div class="escolhaperiodo">
                    <h4>Selecione o período em que os emails deverão ser enviados:</h4>
                    <select class="selecionar" name="escolherPeriodo" id="periodo">
                        <option value="esolher">Escolha uma opção</option>
                        <option value="10">10 Dias</option>
                        <option value="25">25 Dias</option>
                        <option value="45">45 Dias</option>
                    </select>
                </div>
            <div class="Tamplate.1">
                <input class="posicaotamplate" type="radio" id="tamplate1" name="tamplate" value="Tamplate 1">
                <label for="tamplate1">Tamplate 1</label>
            </div>
            <div class="imagem1">
                <img class="tamplate1" src="/img/ATLASTEC (1).png">
            </div>
            <div class="Tamplate.2">
                <input class="posicaotamplate" type="radio" id="tamplate2" name="tamplate" value="tamplate 2">
                <label  for="tamplate2">Tamplate 2</label>
            </div>
            <div class="imagem2">
                <img  class="tamplate2" src="/img/ATLASTEC (2).png">
            </div>
            <div class="enviar">
                <input class="btEnviar" type="button" value="Enviar">
            </div>

            </div>
        </main>
    </header>
</body>
</html>