<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Início</title>
  </head>
  <body>
    <header>
      <div id="title">
        <h1 class="dif-h1">AtlasTec</h1>
      </div>

      <ul>
        <a href="http://localhost:3000/"><li>Início</li></a>
        <a href="http://localhost:3000/sobre"><li>Sobre nós</li></a>
        <a href="http://localhost:3000/contato"><li>Contato</li></a>
        <a href="http://localhost:3000/login" id="entre-btn"><li>Entre</li></a>
        <a href="http://localhost:3000/register" id="inscreva-se-btn"><li>Inscreva-se</li></a>
      </ul>
    </header>

    <section class="features" id="features">
      <h1 class="heading">
        Somos um conjunto de ferramentas que irão<br />
        lhe proporciona um melhor desempenho<br />
        nas suas vendas online!
      </h1>

        <div class="marketing">
            <div > <img class="imagemEmail" src="/img/MailDesign.png" style="width: 100%;"></div>
            <h4 class="posicao"><font> E-mail Marketing </font></h4>
        <div class="email">
            <a href="" class="emailMarketing"><h5><font color="blue"> SAIBA MAIS → </font></h5></a>
        </div>
    </div>
</div>
<div class="carrinho">
            <div > <img class="imagemcarrinho" src="/img/CartDesign.png" style="width: 100%;"></div>
            <h4 class="posicao1"><font> Recuperador De Carrinho </font></h4>
            <div class="carrinho01">
                <a href="" class="emailMarketing"><h5><font color="blue"> SAIBA MAIS → </font></h5></a>
            </div>
</div>
       
        </main>
    </header>
</body>
</html>