<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/src/views/style.css">
    <title>Pagina Inicial</title>
    <meta nome="viewport" content="widht-device-width, initial-scale=1.0, maximum-scale=1.0">

</head>
<body class="body-pag">
    <header>
        <main class="main-principal">
        <div class="menuInicial">
           <div class="center">
            <div class="menu">
              <a href="0">Inicio</a> 
              <a href="0">Sobre Nós</a>
              <a href="0">Ajuda</a> 
              <a hrf="0"><button>Entra</button></a>
              <a hrf="0"> <button>Cadastrar</button></a>

            
            <!--- Testar com HRF // Não está responsivo
            <div class="Entra">
                <button class="entra" type="submit"><font color="993399"><h3>Entrar</h3></font></button>
            </div>
            <div class="Cadastrar">
                <button class="cadastrar" type="submit"><font color="ffffff"><h3>Cadastrar</h3></font></button>
            </div>
            --> 
             
              
            </div> 
            
            </div>
        </div>
        <div class="marketing">
            <div > <img class="imagemEmail" src="/src/img/Design sem nome (2) (1).png" style="width: 100%;"></div>
            <h4 class="posicao"><font> E-mail Marketing </font></h4>
        <div class="email">
            <a href="" class="emailMarketing"><h5><font color="blue"> SAIBA MAIS → </font></h5></a>
        </div>
    </div>
</div>
<div class="carrinho">
            <div > <img class="imagemcarrinho" src="/src/img/carrinho.png" style="width: 100%;"></div>
            <h4 class="posicao1"><font> Recuperador De Carrinho </font></h4>
            <div class="carrinho01">
                <a href="" class="emailMarketing"><h5><font color="blue"> SAIBA MAIS → </font></h5></a>
            </div>
</div>
       
        </main>
    </header>
</body>
</html>