<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- lib de icons -->
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Document</title>
</head>
<body  bgcolor="dcdcdc">
    <header class="menu-principal02">
        <main>
            <div class="header-2"></div>
            <div class="registrar">
                <font color="gray">
                <h2 class="registrar-se">Registrar-se</h2>
                </font> 
                <form class="SeuNome" action="/register" method="POST">
                    <input name="name" type="text" placeholder="Seu Nome">>
                    <input name="email" type="text" placeholder="Email"> 
                    <input name="password" type="password" placeholder="Senha"> 
                    <input name="confPassword" type="password" placeholder="Comfirma sua senha"> 
                    <span class="lnr lnr-eye"></span>
                    <button class="botao02" type="submit"> <font color="f8f6f6">Registrar</font></button>
                </form>
                
            </div>
    </div>''
        </main>
    </header>
</body>
</html>
