<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Sobre Nós</title>
  </head>
  <body>
    <header>
      <div id="title">
        <h1 class="dif-h1">AtlasTec</h1>
      </div>

      <ul>
        <a href="http://localhost:3000/"><li>Início</li></a>
        <a href="http://localhost:3000/sobre"><li>Sobre nós</li></a>
        <a href="http://localhost:3000/contato"><li>Contato</li></a>
        <a href="http://localhost:3000/login" id="entre-btn"><li>Entre</li></a>
        <a href="http://localhost:3000/register" id="inscreva-se-btn"><li>Inscreva-se</li></a>
      </ul>
    </header>
    <main>
      <aside class="dif-h2">
        <h2><span>Conheça Sobre Nós</span></h2>
        <h2></h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. <br />
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s.Lorem Ipsum has een the industry's standard <br />dummy text
          ever since the 1500s.
        </p>
      </aside>

      <article class="img-nos">
        <img src="/img/aboutus.png" alt="Sobre-Nós" />
      </article>
    </main>
  </body>
</html>
