@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login > h1 {
  font-size: 3vw;
  color: #77ffc0;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #ffffff;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

p {
  color: #ffffff;
}

a {
  color: #2be1e7;
  text-decoration: none;
  margin-left: 10px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.lnr-eye {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #dfdfdf;
  background: #ff0000;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #ff000052;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }
}

.main-cad {
  width: 100vw;
  height: 120vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-cad {
  width: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-cad > h1 {
  font-size: 3vw;
  color: #77ffc0;
}

.right-cad {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cad {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-cad > h1 {
  color: #ffffff;
  font-weight: 800;
  margin: 0;
}

.textfield-cad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield-cad1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield-cad2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield-cad > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield-cad1 > input {
  width: 45%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield-cad2 > input {
  width: 45%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  margin-top: 2px;
  margin-left: 180px;
}
.textfield-cad > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}
.textfield-cad1 > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}
.textfield-cad2 > label {
  color: #f0ffffde;
  margin-bottom: 10px;
  margin-left: 211px;
  margin-top: -119px;
}
.textfield-cad > input::placeholder {
  color: #f0ffff94;
}
.textfield-cad1 > input::placeholder {
  color: #f0ffff94;
}
.textfield-cad2 > input::placeholder {
  color: #f0ffff94;
}
p {
  color: #ffffff;
}

a {
  color: #2be1e7;
  text-decoration: none;
  margin-left: 10px;
}

.btn-cad {
  width: 100%;
  padding: 16px 0px;
  margin: 3px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #dfdfdf;
  background: #ff0000;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #ff000052;
}

@media only screen and (max-width: 950px) {
  .card-cad {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-cad {
    flex-direction: column;
  }
  .left-cad > h1 {
    display: none;
  }

  .left-cad {
    width: 100%;
    height: auto;
  }

  .right-cad {
    width: 100%;
    height: auto;
  }
}


.body-pag {
  background: #adadad94;
  padding-top: 30px;
  width: 100%;
}

.center{
  display: flex;
  flex-wrap: wrap;
  max-width:  1500px;
  margin: 0 auto;
  padding: 0 2%;
}

.menu {
  padding-top: 30px;
  width: 100%;
  text-align: right;
}
.menu a{
  color: #993399;
  text-decoration: none;
  font-weight: bold; 
  margin-right: 15px;

}

.menu button{
  border: 0;
  background-color: #993399; 
  color: white;
  border-radius: 40px;
  width: 100px;
  height: 30px; 
  cursor: pointer;

}

.main-principal{
  background: #adadad94;
  height: 100%;
  width: 100%;
}

.menuInicial {
  background-color: #adadad94;
  height: 100px;
  width: 100%;
  border: 1px solid #993399;
}

.email {
  margin-top: 400px;
  margin-left: 600px;
}
.marketing {
  margin-top: 200px;
  margin-left: 40px;
  border: 1px solid #00f;
  width: 250px;
  height: 300px;
  box-shadow: #00f 1px 1px 1px;
}
.email {
  margin-left: 80px;
  margin-top: 30px;
  
}
.emailMarketing {
  text-decoration: none;
}
.imagemEmail {
  width: 200px;
  margin-top: -20px;
  margin-left: 5px; 
}
.carrinho01 {
  margin-left: 80px;
  margin-top: 30px;
  
}
.carrinho {
  margin-top: -302px;
  margin-left: 350px;
  border: 1px solid #00f;
  width: 250px;
  height: 300px;
  box-shadow: #00f 1px 1px 1px;
}
.posicao {
  width: 100%;
  margin-top: -50px;
  margin-left: 60px;
}
.imagemcarrinho {
  width: 200px;
  margin-top: -20px;
  margin-left: 5px; 
}
.posicao1 {
  width: 100%;
  margin-top: -50px;
  margin-left: 40px;
}

